<!DOCTYPE html>
<html ng-app="myApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>OneHuskyApp</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body{
            padding-top: 51px;
        }
        .navbar{
            background-color: #AE2D21;
        }
        .navbar a{
            color: white;
        }
        .navbar-brand{
            font-weight: 800;
        }
        .navbar .nav>li>a:hover{
            background-color: #AE2D21;
        }
        #filters{
            position: fixed;
            top: 51px;
            left: 225px;
            width: 225px;
            margin-left: -225px;
            border: none;
            border-radius: 0;
            overflow-y: auto;
            bottom: 0;
            overflow-x: hidden;
            border: 1px solid #ccc;
        }
        #filterform input[type="text"]{
            width: 70px;
        }
        #searchdiv{
            position: fixed;
            z-index: 3;
            background-color: white;
            padding-bottom: 10px;
            border-bottom: 10px solid #AE2D21;
        }
        #filters h3{
            padding-top: 10px;
            padding-bottom: 7px;
            border-bottom: 10px solid #AE2D21;
        }
        .activ{
            font-weight: 800;
        }
        .carousel-inner > .item > .img{
        	width: 320px;
        	height:150px;
        }
     </style>
</head>

<body>

     <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.htm">OneHuskyApp<img src="images/husky_logo.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="activ">
                        <a href="housing.htm">Housing</a>
                    </li>
                    <li>
                        <a href="forsale.htm">For Sale</a>
                    </li>
                    <li>
                        <a href="jobs.htm">Jobs</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                	<li>
                        <a href="post.htm" ><span class="glyphicon glyphicon-log-in"></span> Post</a>
                    </li> 
                    <li sec:authorize="!isAuthenticated()">
                        <a href="login"><span class="glyphicon glyphicon-log-in"></span> Login/Sign Up</a> 
                    </li>
                    <li sec:authorize="isAuthenticated()">
                    	<a sec:authorize="hasRole('ROLE_USER')" href="user.htm" ><span class="glyphicon glyphicon-user"></span> <span sec:authentication="name" ></span></a>
                    	<a sec:authorize="hasRole('ROLE_ADMIN')" href="adminpage.htm" ><span class="glyphicon glyphicon-user"></span> Admin Page</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">  
                    	<a href="logout" > <span class="glyphicon glyphicon-log-out"></span>Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container-fluid" ng-controller="HousingController">

        <div class="row">

            <div class="col-sm-2" id="filters">
                <div style="color: #AE2D21">
                    <h3>Housing</h3>
                </div>
                <div style="color: #AE2D21">
                    <h4>Filter your searches:</h4>
                    
                </div>
                <hr />
                <form name="filterform" id="filterform" ng-submit="filtersubmit()">
                    <div>
                        <input type="checkbox" ng-model="housingType.long"  name="long" ng-true-value="'Long Term'" ng-false-value="" /> Long term/Full lease <br />
                        <input type="checkbox" ng-model="housingType.sub" name="sub" ng-true-value="'Sublet'" ng-false-value="" /> Sublet/Temporary <br />
                        <input type="checkbox" ng-model="housingType.room" name="room" ng-true-value="'Room Share'" ng-false-value="" /> Rooms share <br />
                        <input type="checkbox" ng-model="housingType.bnb" name="bnb" ng-true-value="'BnB'" ng-false-value="" /> Bed and Breakfast <br />
                    </div>
                    <br />
                    <div>
                        Price:<br />
                        <input type="number" ng-model="minPrice" name="minPrice" placeholder="Min" min="0" /> 
                        <input type="number" ng-model="maxPrice" name="maxPrice" placeholder="Max" min="0" />
                        <p class="priceError" style="display: none; color:red;">Max can't be less than min </p>
                    </div>
                    <br />
                    <br />
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="submit" class="btn btn-default">Filter Search</button>
                    
                </form>
            </div>

            <div id="searchdiv" class="col-sm-offset-2 col-sm-10">
                <br />
                <form>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-7">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Search . . ." ng-model="searchKey" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="filtersubmit()">Search</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-2">
                            <select ng-model="orderby" ng-change="filtersubmit()">
                                <option value="newest">Newest</option>
                                <option value="lowprice">Price Low</option>
                                <option value="highprice">Price High</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-offset-2 col-sm-10" >
                <br />
                <br />
                <br />
                <br />
                <div class="row" >
					
                    <div class="col-sm-3" ng-repeat="house in houseListings">
                        <div class="thumbnail">
                            <div id="myCarousel{{$index}}" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for carousel items -->
                                <div class="carousel-inner"  ng-show="!house.imagepath.length">
                                	<div class="item active">
                                        <img src="http://placeholders.org/320x200" style="height:200px; width: 320px" />
                                    </div>
                                </div>
                                <div class="carousel-inner" ng-show="house.imagepath.length" >
                                	<div class="item" ng-class="{active:!$index}" ng-repeat="image in house.imagepath">
                                        <img ng-src="{{image.url}}"  style="height:200px; width: 320px" />
                                    </div>
                                </div>
                                <!-- Carousel controls -->
                                <a class="carousel-control left" href="#myCarousel{{$index}}" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="carousel-control right" href="#myCarousel{{$index}}" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">{{house.rent | currency}}</h4>
                                <h4><a href="housingdetails.htm?id={{house.housingListingId}}">{{house.title}}</a>
                                </h4>
                                <p>{{house.description}}</p>
                                <p><small>{{house.posteddate}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <hr />

                    <!-- Footer -->
                    <footer>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>&copy; OneHuskyApp</p>
                            </div>
                        </div>
                    </footer>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    
    <script>
        $('.carousel').carousel({
            interval: false
        }); 
    </script>
    <script>
    
    	
    	var app = angular.module("myApp",[]);

	    app.controller('HousingController',['$scope', '$http', function($scope, $http){
	    	$scope.searchKey = "";
	    	$scope.orderby = "newest";
	    	
	        $http({
	            method: 'GET',
	            url:'api/v1/getHouses', 
	            
	        }).success(function(data){
	
	            $scope.houseListings = data;

	        });
	        $scope.housingType ={
	    			long: 'Long Term',
	    			sub: 'Sublet',
	    			room: 'Room Share',
	    			bnb: 'BnB'
	    	}
	        $scope.filtersubmit = function(){
	        	if(this.minPrice>this.maxPrice){
	        		$(".priceError").css("display","block");
	        		return;
	        	}
	        	$(".priceError").css("display","none");
	        	$http({
		            method: 'GET',
		            url:'api/v1/getHouses',
		            params:{
		            	"long": $scope.housingType.long,
		            	"sub": $scope.housingType.sub,
		            	"room": $scope.housingType.room,
		            	"bnb": $scope.housingType.bnb,
		            	"minPrice": $scope.minPrice,
		            	"maxPrice": $scope.maxPrice,
		            	"searchKey": $scope.searchKey,
		            	"orderBy": $scope.orderby
		            }   
		        }).success(function(data){

		            $scope.houseListings = data;
		        });
	        } 
	   
	        
	    }]);
	    	

    </script>
    <!-- /.container -->

</body>

</html>