
        body{
            
            font-family: sans-serif;
        }
        .bodycontents{
            top:115px;
        
        }
        .about1 {
            margin: 0.5em 1em;
            padding: 0.5em 2em;
            border: dotted;
            border-color: saddlebrown;
            border-radius: 5%;
            color: saddlebrown;
        } 
        .contactloc{
            width:30%;
            text-align: center;
            margin: 0.5em 32%;
            padding: 2em;
            background-image: url(../images/background.jpg);
            border-radius: 50%;
            color:snow;
        }
        
        .contactloc p{
            font-family: Papyrus, fantasy;
            font-size: 18px;
            padding:0.25em;
            margin: 0.25em;
            
        }
        .about2{
            overflow: hidden;
        }
        .aboutimg1{
            float:left;
            clear: left;
        }
        .aboutimg2{
            float: right;
            clear: right;
        }
        .map{
            margin: 1em;
            padding: 0 1em;
            color:firebrick;
            font-family:Loto, sans-serif;
            font-size:20px;
            width: 20%;
            text-align: center;
            padding-bottom: 2em;
            
            
        }
        .dropdown{
            text-align: center;

            background-image: url(../images/background.jpg);
        }
       .dropdown ul{
           margin-bottom: 0;
           margin-top: 0.25em;
       }

        .dropdown li{
            display: inline-block;
            font-family:sans-serif;
            margin: 0 1em;

            text-transform: uppercase;
            padding: 0.25em 0.5em;
        }
        .dropdown li a{
            text-decoration: none;
            color: white;
            padding: 0.25em;
            margin: 0;
        }
        .dropjobs{
            display: none;
            position: absolute;
             margin-top: 0.25em;
            background-color: coral;
        }
        .dropdown ul li:visited{
            color:white;
        }


        .dropdown li a:hover{
            color: saddlebrown;
            background-color: white;
        }
        .jobs:hover .dropjobs {
            display: block;
        }

        #drop1{
            display: block;

        }
        #drop2{
            display: block;

        }
